.realTimeData .item-value {
	text-align: center;
	padding-top: 5%;
}

.realTimeData .item-value span {
	font-size: 36px;
}

.realTimeData .item-title {
	text-align: center;
}

.realTimeData .item-title span {
	opacity: 0.6;
	font-size: 16px;
}

.realTimeData .item-description {
	text-align: center;
	padding-top: 3%;
}

.realTimeData .item-description span {
	opacity: 0.4;
	font-size: 12px;
	color: #FFFFFF;
}

.realTimeData .item-white {
	color: #FFFFFF;
}

.realTimeData .item-red {
	color: #B94E4E;
}