.dashboard-AQI-forecast {
  height: 100%;
  width: 100%;

  #dashboardAQIForecast {
    height: 100%;
    width: 100%;
  }

  .border-line {
    opacity: 0.3;
    border: 1px solid #FFFFFF;
    position: absolute;
    z-index: 4;
    height: 10.5%;
    top: 61%;
    left: 89%;
  }
}