.diagnosisRecommendation {
	height: 100%;
	background: #203758;
  	border-radius: 20px;
  	border: 2px solid #B94141;
  	box-shadow: 0 2px 14px 2px rgba(247,86,86,0.31);

  	.diagnosis {
  		height: 90%;
  		width: 60%;
  		float: left;
  		margin-top: 2%;

  		.diagnosis-title {
  			padding-left: 7%;

  			span {
				font-size: 24px;
				color: #FFFFFF;
  			}
  		}

  		.diagnosis-content {
  			padding-top: 2%;
  			padding-left: 7%;
  			line-height: 20px;
  			width: 90%;

  			span {
  				opacity: 0.8;
				font-size: 16px;
				color: #FFFFFF;
  			}
  		}
  	}

  	.recommendation {
  		height: 80%;
  		width: 39%;
  		float: left;
  		border-left: 1px solid rgba(255,255,255,0.15);
  		margin-top: 2%;

  		.recommendation-title {
  			padding-left: 7%;

  			span {
				font-size: 24px;
				color: #FFFFFF;
  			}
  		}

  	}
}