.diagnosisRecommendation {
	height: 100%;
	background: #203758;
  	border-radius: 20px;
  	border: 2px solid #B94141;
  	box-shadow: 0 2px 14px 2px rgba(247,86,86,0.31);

  	.diagnosis {
  		height: 90%;
  		width: 45%;
  		float: left;
  		margin-top: 2%;

  		.diagnosis-title {
  			border-left: 4px solid #FFFFFF; 
  			padding-left: 6%;

  			span {
				font-size: 30px;
				color: #FFFFFF;
  			}
  		}

  		.diagnosis-content {
  			padding-top: 7%;
  			padding-left: 7%;
  			line-height: 24px;
  			width: 85%;

  			span {
  				opacity: 0.8;
				font-size: 16px;
				color: #FFFFFF;
  			}
  		}

  		.diagnosis-cause {
  			padding-top: 7%;
  			padding-left: 7%;
  			width: 90%;
  			height: 70%;

  			.diagnosis-cause-details {
  				padding-left: 2%;
		  		height: 65%;
				width: 100%;
				float: left;

				.diagnosis-cause-details-section {
					float: left;
					width: 48%;
					height: 50%;
				}
  			}

  			.diagnosis-cause-summary {
	  			width: 100%;
	  			height: 35%;
	  			float: left;
	  			padding-left: 1%;

	  			.diagnosis-cause-summary {
		  			width: 49%;
		  			height: 100%;
		  			float: left;
	  			}

	  			.diagnosis-video-button {
		  			width: 40%;
		  			height: 100%;
		  			float: left;
	  				padding-left: 5%;
	  				padding-top: 7%;

		  			.diagnosis-video-button-content {
		  				width: 70%;
		  				float: left;

		  				span {
		  					font-size: 16px;
							color: #41BEFE;
							line-height: 21px;
		  				}
		  			}

		  			.diagnosis-video-button-image {
		  				width: 30%;
		  				float: left;
		  			}
	  			}
  			}
  		}

  	}

  	.recommendation {
  		height: 90%;
  		width: 54%;
  		float: left;
  		border-left: 1px solid rgba(255,255,255,0.15);
  		margin-top: 2%;

  		.recommendation-title {
  			border-left: 4px solid #FFFFFF; 
  			padding-left: 6%;

  			span {
				font-size: 30px;
				color: #FFFFFF;
  			}
  		}

  		.recommendation-content {
  			padding-top: 5%;
  			padding-left: 7%;
  			line-height: 24px;
  			width: 80%;

  			span {
  				opacity: 0.8;
				font-size: 16px;
				color: #FFFFFF;
  			}
  		}

  	  	.recommendation-chart {
  	  		height: 100%;

  	  		#recommendation-trend-chart {
  	  			height: 100%;
  	  		}

			.border-line {
				opacity: 0.3;
				border: 1px solid #FFFFFF;
				position: absolute;
				z-index: 4;
				height: 25%;
				top: 51.5%;
				left: 77.5%;
			}

  	  	}
  	}
}