.smoothLineChart {
	height: 100%;
	background: #1E314B;
  	border-radius: 20px;
}

#smoothLineChart {
	/*padding-top: 2%;*/
  	height: 100%;
}

.button-list {
	position: absolute;
	left: 71%;
	width: 25%;
	top: 28.5%;
	z-index: 2;
}

.button-list button {
	margin-right: 4%;
	background-color: transparent;
	border-color: transparent;
	/*font-family: PingFangSC-Regular;*/
	font-size: 16px;
	color: #FFFFFF;
}

.button-list button:focus{
	outline: none;
}

.button-list button span {
	opacity: 0.4;
}

.button-list button .clicked {
    padding-bottom: 3px;
    border-bottom:  2px solid;
    opacity: 1;
}

.button-list button .color-0 {
	border-bottom-color: #25B7CA;
}

.button-list button .color-1 {
	border-bottom-color: rgba(147,123,242);
}

.button-list button .color-2 {
	border-bottom-color: #F0D99C;
}

.button-list button .color-3 {
	border-bottom-color: #DE987D;
}

.button-list button .color-4 {
	border-bottom-color: #6143FE;
}

.button-list button .color-5 {
	border-bottom-color: #FFFFFF;
}