.chemicalPollutant {
	height: 100%;
	width: 100%;
	position: relative;
}

.chemicalPollutantBar {
	height: 100%;
	width: 100%;
	background: #1E314B;
  	border-radius: 20px;
  	position: absolute;
  	z-index: 3;
}

#chemicalPollutantBar {
	height: 100%;
	width: 100%;
}

.chemicalPollutantParallel {
	height: 100%;
	width: 100%;
	background: rgba(30,49,75,0.6);
  	border-radius: 20px;
  	position: absolute;
  	z-index: 4;
  	/*opacity: 0.9;*/
}

#chemicalPollutantParallel {
	height: 100%;
	width: 100%;
}