.qualityInfo {
	height: 100%;
	background: #1E314B;
  	border-radius: 20px;
}

.qualityInfo .quality-title {
	padding-left: 5%;
	padding-top: 6%;
	height: 10%;
}

.qualityInfo .quality-title span {
	font-size: 20px;
	color: #FFFFFF;
	padding-left: 5px;
}

.qualityInfo .quality-content {
	padding-left: 10%;
	padding-top: 6.5%;
}

.qualityInfo .quality-content .quality-details {
	width: 90%;
}

.qualityInfo .quality-content .quality-details div {
	float: left;
}

.qualityInfo .quality-content .quality-details span {
	opacity: 0.6;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
}

.qualityInfo .quality-content .quality-details .surface-color {
	width: 90%;
}

.qualityInfo .quality-content .quality-details .quality-grade {
	padding-left: 2%;
}

.qualityInfo .quality-content .quality-details .quality-grade span {
	font-size: 16px;
	color: #B94E4E;
	line-height: 20px;
}

.qualityInfo .quality-content .quality-details .function-type {
	padding-left: 2%;
}

.qualityInfo .quality-content .quality-details .green {
	color: #22B5C8;
	padding-left: 2%;
}

.qualityInfo .quality-content .quality-image {
	
}

.qualityInfo .info-content .info-details .station-name {
	opacity: 0.8;
	font-size: 20px;
	color: #FFFFFF;
}

.qualityInfo .info-content .info-details span:not(:first-child) {
	opacity: 0.6;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
}