.smoothLineChart {
	height: 100%;
	background: #1E314B;
  	border-radius: 20px;
}

#smoothLineChart {
	/*padding-top: 2%;*/
  	height: 100%;
}

.button-list {
	position: absolute;
	left: 72%;
	width: 25%;
	top: 27%;
	z-index: 2;
}

.button-list button {
	margin-right: 4%;
	background-color: transparent;
	border-color: transparent;
	opacity: 0.4;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
}

.button-list .clicked {
	color: #22B5C8;
	font-size: 18px;
	opacity: 1;
}