.basicInfo {
	height: 100%;
	background: #1E314B;
  	border-radius: 20px;
}

.basicInfo .info-title {
	padding-left: 35%;
	padding-top: 7%;
	height: 10%;
}

.basicInfo .info-title span {
	font-size: 20px;
	color: #FFFFFF;
	text-shadow: 0 4px 4px rgba(0,0,0,0.50);
}

.info-content {
	padding-left: 12%;
	padding-top: 7%;
}

