.basicInfo {
	height: 100%;
	background: #1E314B;
  	border-radius: 20px;
}

.basicInfo .info-title {
	padding-left: 35%;
	padding-top: 6%;
	height: 10%;
}

.basicInfo .info-title span {
	font-size: 20px;
	color: #FFFFFF;
	text-shadow: 0 4px 4px rgba(0,0,0,0.50);
}

.basicInfo .info-content {
	padding-left: 5%;
	padding-top: 11%;
}

.basicInfo .info-content .info-location-image {
	padding-left: 1%;
	width: 10%;
	display: inline-block;
}

.basicInfo .info-content .info-location-image img{
	width: 65%;
}

.basicInfo .info-content .address {
	width: 18%;
	display: inline-block;
}

.basicInfo .info-content .address span {
	font-size: 14px;
	color: #FFFFFF;
}

.basicInfo .info-content .info-details {
	width: 60%;
	padding-left: 3%;
	display: inline-block;
}

.basicInfo .info-content .info-details .station-name {
	opacity: 0.8;
	font-size: 20px;
	color: #FFFFFF;
}

.basicInfo .info-content .info-details span:not(:first-child) {
	opacity: 0.6;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
}