.index-value {
	text-align: center;
}

.index-value span {
	/*font-family: PingFangSC-Light;*/
	font-size: 60px;
}

.index-title {
	text-align: center;
}

.index-title span {
	opacity: 0.4;
	/*font-family: PingFangSC-Regular;*/
	font-size: 20px;
	color: #FFFFFF;
}

.index-description {
	text-align: center;	
}

.index-description span {
	opacity: 0.4;
	/*font-family: PingFangSC-Regular;*/
	font-size: 12px;
	color: #FFFFFF;
}

.white {
	color: #FFFFFF;
}

.red {
	color: #B94E4E;
}