.weatherInfo {
	height: 100%;
	background: #1E314B;
  	border-radius: 5%;
}

.weather-title {
	padding-left: 25%;
	padding-top: 4%;
	height: 10%;
}

.weather-image {
	float: left;
}

.weather-title-details {
	float: left;
	width: 50%;
	padding-left: 2%;
}

.weather-title span {
	font-family: PingFangSC-Regular;
	font-size: 20px;
	color: #FFFFFF;
}

.weather-content {
	padding-left: 16%;
	padding-top: 4%;
}

.temperature {
	display: inline-block;
	padding-left: 4%;
}

.temperature-number{
	font-family: PingFangSC-Light;
	font-size: 64px;
	color: #FFFFFF;
}

.temperature-degree {
	font-family: PingFangSC-Thin;
	font-size: 36px;
	color: #FFFFFF;
}

.temperature-details {
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #FFFFFF;
}

.weather-details {
	display: inline-block;
	float: right;
	margin-right: 10%;
}

.weather-date {
	opacity: 0.8;
	font-family: PingFangSC-Regular;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 1.6;
}

.weather-details span:not(:first-child) {
	opacity: 0.6;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 1.6;
}