.station-popup {
	height: 100%;
	width: 100%;
	background-color: #1C2A3E;
}

.popup-title {
	height: 20%;
	padding-top: 2%;
	border-bottom: 1px solid rgba(255,255,255,0.12);
	padding-left: 4%;
	padding-right: 4%;
}

.popup-title .station-title {
	float: left;
	padding-right: 2%;
}

.popup-title .station-title .station-number {
	font-size: 40px;
	color: #FFFFFF;
}

.popup-title .station-title .station-name {
	font-size: 36px;
	color: #FFFFFF;
	padding-left: 10px;
}

.popup-title .station-details {
	float: left;
}

.popup-title .station-details span {
	opacity: 0.6;
	font-size: 14px;
	color: #FFFFFF;
}

.station-weather {
	float: right;
	width: 10%
}

.station-weather img {
	width: 70%;
}

.station-temperature-number {
	float: left;
	width: 45%;
	padding-top: 16px;
}

.station-temperature-number span {
	font-size: 32px;
	color: #FFFFFF;
}

.station-temperature {
	float: left;
	width: 55%;
}

.station-temperature-degree {
	font-size: 20px;
	color: #FFFFFF;
	opacity: 0.6;
}

.popup-content {
	height: 75%;
	width: 100%;
	padding-left: 4%;
	padding-right: 4%
}

.station-img {
	width: 35%;
	float: left;
}

.station-img img {
	padding: 10% 10% 10% 0;
	width: 50%
}

.station-AQI-data {
	width: 65%;
	float: left;
}

.station-AQI-data {
	height: 100%;
	width: 60%;
}

.AQITrend {
  height: 100%;
}