.dashboardWater {
	width: 100%;
	height: 100%;
  	background-color: #2A3C55;
}

/*.dashboardWater img {
	width: 100%;
}*/

.dashboardWater .host-button {
	height: 135px;
	width: 135px;
	position: absolute;
	background: #1C2A3E;
	border: 4px solid rgba(34,181,200,0.33);
	box-shadow: 0 5px 4px 1px rgba(37,55,81,0.65);
	border-radius: 50%;
	top: 3%;
	left: 3%;
}

.dashboardWater .host-button img {
	margin-left: 25%;
	margin-top: 20%;
	width: 50%;
}

.dashboardWater .host-button span {
	font-size: 14px;
	color: #FFFFFF;
	margin-left: 20%;
}

.dashboardWater .water-dashboard-left {
	width: 44.5%;
	height: 90%;
	float: left;
	margin: 5vh 1vw 5vh 4vw;
}

.dashboardWater .water-dashboard-left .water-basic-info {
	width: 49%;
	height: 24%;
	float: left;
	margin-right: 2%;
}

.dashboardWater .water-dashboard-left .water-quality-info {
	width: 49%;
	height: 24%;
	float: left;
}

.dashboardWater .water-dashboard-left .river-data-analysis {  
	width: 100%;
	height: 74%;
	float: left;
	margin-top: 2%;
}

.dashboardWater .water-dashboard-right {
	width: 46%;
	height: 90%;
	float: left;
	margin: 5vh 4vw 5vh 0;
}

.dashboardWater .water-dashboard-right .water-real-data {
	width: 100%;
	height: 24%;
	margin-bottom: 2vh;
	float: left;
	background: #1E314B;
	border-radius: 20px;
}

.dashboardWater .water-dashboard-right .water-real-data .water-real-data-title {
	height: 12%;
	width: 100%;
	margin-top: 3%;
	margin-left: 3%;
	display: inline-block;
}

.dashboardWater .water-dashboard-right .water-real-data .water-real-data-image {
	float: left;
	padding-top: 1px;
}

.dashboardWater .water-dashboard-right .water-real-data .water-real-data-title-content {
	float: left;
	width: 50%;
}

.dashboardWater .water-dashboard-right .water-real-data .water-real-data-title span {
	font-size: 22px;
	color: #FFFFFF;
	padding-left: 1%;
}

.dashboardWater .water-dashboard-right .water-real-data .water-real-data-value {
	height: 70%;
	width: 100%;
	margin-top: 2%; 
}

.dashboardWater .water-dashboard-right .water-real-data .real-time-data-item {
	float: left;
	margin-left: 3%;
	width: 10%;
}

.dashboardWater .water-dashboard-right .water-index-dependecies {
	width: 52%;
	height: 47%;
	float: left;
	margin-right: 2%;
}

.dashboardWater .water-dashboard-right .alarm-info {
	width: 45.5%;
	height: 18.5%;
	float: left;
	margin-bottom: 2%; 
}

.dashboardWater .water-dashboard-right .excessive-index-analysis {
	width: 45.5%;
	height: 26.5%;
	float: left;
}

.dashboardWater .water-dashboard-right .historic-data-analysis {
	margin-top: 2%; 
	width: 100%;
	height: 25%;
	float: left;
}