.dashboard {
  	height: 100%;
  	width: 100%;
  	background: #2A3C55;
  	/*overflow:hidden;*/
}


.left {
	display: inline-block;
	width: 25%;
	height: 90%;
	float: left;
	margin: 4vh 2vw 4vh 4vw;
}

.map {
	width: 100%;
	height: 60%;
	margin-bottom: 2vh;
}

.heat-table {
	width: 100%;
	height: 40%;
}

.right {
	display: inline-block;
	width: 64%;
	height: 88%;
	float: left;
	margin: 4vh 4vw 4vh 0;
}

/*.gaugeList {
	width: 100%;
	height: 20%;
	margin-bottom: 2vh;
	display: inline-block;
	float: left;
}

.gauge {
	width: 16.66%;
	height: 100%;
	display: inline-block;
}*/

.real-time-data {
	width: 100%;
	height: 20%;
	margin-bottom: 2vh;
	display: inline-block;
	float: left;
	background: #1E314B;
	border-radius: 20px;
}

.real-time-data-title {
	height: 25%;
	width: 100%;
}

.real-time-data-title span {
	font-family: PingFangSC-Regular;
	font-size: 22px;
	color: #FFFFFF;
}

.histogram-chart {
	width: 100%;
	height: 40%;
	float: left;
	display: inline-block;
	margin-bottom: 2vh;
}

.radarAndScatter {
	width: 100%;
	height: 40%;
}

.weather-info {
	width: 30%;
	height: 100%;
	display: inline-block;
	float: left;
	padding-right: 4%;
}

.radar-chart {
	width: 31%;
	height: 100%;
	display: inline-block;
	float: left;
	padding-right: 4%;
}

.scatter-chart {
	width: 31%;
	height: 100%;
	display: inline-block;
	float: left;
}
