.baseRadarChart {
  height: 100%;
  /*background: black;*/
}

#radar {
  height: 100%;
/*  position: absolute;
  z-index: 2;*/
}

.mapImg {
	width: 35%;
	height: 100%;
	position: absolute;
	z-index: 2;
}

.imgContent {
	width: 100%;
	height: 100%;
}